.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

[data-theme='dark'] .featureSvg {
  filter: invert(1);
}

.featureHeadingLink {
  &:hover {
    text-decoration: underline solid var(--ifm-color-primary) 2px;
    text-underline-offset: 4px;
  }
}