.aboutSidebar {
  display: 'flex';
  flex-direction: 'column';
  position: 'sticky';
  top: '0';
  align-self: 'flex-start';
  height: '0vh';
  overflow-y: 'visible';
}

@media (max-width: 1000px) {
  .aboutSidebar {
    display: none;
  }
}

.aboutSidebarLink {
  &:hover {
    text-decoration: underline solid var(--ifm-color-primary) 2px;
    text-underline-offset: 4px;
  }
}

.aboutRoleText {
  color: var(--ifm-color-primary-dark);
  font-weight: normal;
  /* font-style: italic; */
}